<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>Cars</h1>
<style>
    th {
        background-color: #e50e0e;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars : ${listCar}">
        <td th:text="${cars.model}"></td>
        <td th:text="${cars.color}"></td>
        <td th:text="${cars.year}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>